In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.linear_model import LinearRegression

In [2]:
Data=pd.read_csv('commodityID_and_details.csv')
Data.head()

  CommodityID Commodity_name
0         CD1          Paddy
1         CD2          Wheat
2         CD3          Jowar
3         CD4   Pearl millet
4         CD5          Maize

In [3]:
Data1=pd.read_csv('sample_submission.csv')
Data1.head()

   Month-year Commodity_name  Minimum support price (in Rs./Quintal)
0  2020-06-01          Paddy                                    6144
1  2013-10-01          Wheat                                    6564
2  2017-01-01          Jowar                                    2440
3  2016-07-01   Pearl millet                                    1546
4  2014-04-01          Maize                                    8749

In [4]:
Data2=pd.read_csv('test.csv')
Data2.head()

   Month-year       Commodity_name
0  2020-03-02               Tomato
1  2021-05-20               Radish
2  2020-10-27  Spray Chrysanthemum
3  2021-12-22              Brinjal
4  2021-10-14               Ginger

In [5]:
Data3=pd.read_csv('train.csv')
Data3.head()

   Month-year  ... Minimum support price (in Rs./Quintal)
0  2020-06-01  ...                                   6144
1  2013-10-01  ...                                   6564
2  2017-01-01  ...                                   2440
3  2016-07-01  ...                                   1546
4  2014-04-01  ...                                   8749

[5 rows x 11 columns]

In [6]:
Data4=pd.read_csv('wpi_and_inflation.csv')
Data4.head()

  CommodityID  Month-year  Wholesale Price Index  Inflation (CPI) %
0        CD82  2017-11-01                  134.2               0.45
1        CD11  2017-02-01                  129.7               0.45
2        CD42  2015-06-01                   93.3               0.45
3        CD11  2020-01-01                  128.1               0.42
4        CD31  2017-10-01                  137.3               1.18

In [7]:
df=pd.DataFrame(Data)
df1=pd.DataFrame(Data1)
df2=pd.DataFrame(Data2)
df3=pd.DataFrame(Data3)
df4=pd.DataFrame(Data4)

In [8]:
df.head()

  CommodityID Commodity_name
0         CD1          Paddy
1         CD2          Wheat
2         CD3          Jowar
3         CD4   Pearl millet
4         CD5          Maize

In [9]:
df3['Commodity_name'] = df3['CommodityID'].map(df.set_index('CommodityID')['Commodity_name'])
df3

      Month-year  ...  Commodity_name
0     2020-06-01  ...       Gladiolus
1     2013-10-01  ...      Raw cotton
2     2017-01-01  ...    Pongam seeds
3     2016-07-01  ...     Safed Musli
4     2014-04-01  ...  Groundnut seed
...          ...  ...             ...
6995  2019-10-01  ...          Bamboo
6996  2017-01-01  ...      Nigar Seed
6997  2018-09-01  ...        Chromite
6998  2015-03-01  ...         Sesamum
6999  2019-05-01  ...      Corinander

[7000 rows x 12 columns]

In [10]:
df3.drop(['Production weight (in million tonnes)','Labour_availability','Govt_policy_change','Demand','Cost of production','Climatic factor 1','Climatic factor 2','Maximum price per kg'],axis=1,inplace=True)
df3

      Month-year  ...  Commodity_name
0     2020-06-01  ...       Gladiolus
1     2013-10-01  ...      Raw cotton
2     2017-01-01  ...    Pongam seeds
3     2016-07-01  ...     Safed Musli
4     2014-04-01  ...  Groundnut seed
...          ...  ...             ...
6995  2019-10-01  ...          Bamboo
6996  2017-01-01  ...      Nigar Seed
6997  2018-09-01  ...        Chromite
6998  2015-03-01  ...         Sesamum
6999  2019-05-01  ...      Corinander

[7000 rows x 4 columns]

In [13]:
from sklearn.preprocessing import LabelEncoder
ID=LabelEncoder()
Name=LabelEncoder()
Monthyear=LabelEncoder()
df3['ID']=ID.fit_transform(df3['CommodityID'])
df3['Name']=Name.fit_transform(df3['Commodity_name'])
df3['Monthyear']=Monthyear.fit_transform(df3['Month-year'])
df3.drop(['Month-year','CommodityID','Commodity_name'],axis=1,inplace=True)

In [14]:
X=df3.drop(['Minimum support price (in Rs./Quintal)'],axis=1)
Y=df3.iloc[:,0]
print(X)
print(Y)

       ID  Name  Monthyear
0      20    50        101
1     111   106         21
2       3    96         60
3      37   114         54
4     116    54         27
...   ...   ...        ...
6995   11     6         93
6996    2    82         60
6997  134    29         80
6998  118   120         38
6999  104    36         88

[7000 rows x 3 columns]
0       6144
1       6564
2       2440
3       1546
4       8749
        ...
6995    2779
6996    2308
6997    8097
6998    3454
6999    8619
Name: Minimum support price (in Rs./Quintal), Length: 7000, dtype: int64

In [15]:
X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.20,random_state=0)

In [16]:
model=LinearRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
train_score=model.score(X_train,y_train)
print(y_pred)
print(train_score)

[5190.78130546 5180.47659042 5142.63440013 ... 5189.49244732 5129.67590292
 5150.03871926]
7.141558478851451e-05

In [17]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,mean_squared_log_error
print('Mean Absolute Error:%.3f' % mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:%.3f' % mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:%.3f' % np.sqrt(mean_squared_error(y_test, y_pred)))

Mean Absolute Error:1933.380
Mean Squared Error:4964904.351
Root Mean Squared Error:2228.207

In [18]:
ans=100*max(0,1-mean_squared_log_error(y_test,y_pred))
ans

71.2695049062257

In [19]:
df2['CommodityID'] = df2['Commodity_name'].map(df.set_index('Commodity_name')['CommodityID'])
df2

    Month-year       Commodity_name CommodityID
0   2020-03-02               Tomato        CD18
1   2021-05-20               Radish        CD24
2   2020-10-27  Spray Chrysanthemum       CD134
3   2021-12-22              Brinjal        CD20
4   2021-10-14               Ginger        CD16
..         ...                  ...         ...
64  2021-03-22               Papaya        CD37
65  2020-09-06                Apple        CD33
66  2021-07-13            Sunflower        CD83
67  2021-08-01                 Lily       CD123
68  2020-08-16           Raw cotton        CD71

[69 rows x 3 columns]

In [21]:
df2['ID']=ID.fit_transform(df2['CommodityID'])
df2['Name']=Name.fit_transform(df2['Commodity_name'])
df2['Monthyear']=Monthyear.fit_transform(df2['Month-year'])

df2.drop(['Month-year','CommodityID','Commodity_name'],axis=1,inplace=True)
df2

    ID  Name  Monthyear
0   27    67          8
1   31    52         39
2   23    62         21
3   29    12         67
4   26    25         61
..  ..   ...        ...
64  37    45         33
65  35     2         17
66  58    63         47
67  19    35         53
68  53    53         15

[69 rows x 3 columns]

In [22]:
pred=model.predict(df2)
c = np.around(pred, decimals = 2)
c

array([5172.74, 5162.91, 5166.87, 5156.78, 5156.45, 5177.74, 5157.72,
       5167.78, 5169.47, 5178.08, 5174.61, 5182.99, 5161.49, 5157.14,
       5155.98, 5175.04, 5176.4 , 5154.93, 5149.07, 5154.68, 5166.33,
       5180.14, 5166.98, 5170.89, 5178.55, 5182.16, 5159.54, 5174.17,
       5174.81, 5164.1 , 5178.82, 5148.17, 5160.83, 5172.65, 5181.01,
       5157.35, 5180.27, 5162.62, 5167.65, 5158.1 , 5146.45, 5168.68,
       5151.53, 5181.2 , 5185.97, 5176.11, 5151.51, 5175.14, 5185.33,
       5159.9 , 5165.18, 5176.33, 5168.45, 5163.81, 5190.35, 5154.44,
       5185.02, 5167.51, 5185.38, 5156.46, 5163.27, 5171.66, 5188.24,
       5183.74, 5168.24, 5181.54, 5164.99, 5156.38, 5179.03])

In [25]:
DF=pd.DataFrame(Data2)
DF.head()

   Month-year       Commodity_name CommodityID
0  2020-03-02               Tomato        CD18
1  2021-05-20               Radish        CD24
2  2020-10-27  Spray Chrysanthemum       CD134
3  2021-12-22              Brinjal        CD20
4  2021-10-14               Ginger        CD16

In [26]:
DF['MSP(Predicted)']=c
DF

    Month-year       Commodity_name CommodityID  MSP(Predicted)
0   2020-03-02               Tomato        CD18         5172.74
1   2021-05-20               Radish        CD24         5162.91
2   2020-10-27  Spray Chrysanthemum       CD134         5166.87
3   2021-12-22              Brinjal        CD20         5156.78
4   2021-10-14               Ginger        CD16         5156.45
..         ...                  ...         ...             ...
64  2021-03-22               Papaya        CD37         5168.24
65  2020-09-06                Apple        CD33         5181.54
66  2021-07-13            Sunflower        CD83         5164.99
67  2021-08-01                 Lily       CD123         5156.38
68  2020-08-16           Raw cotton        CD71         5179.03

[69 rows x 4 columns]