In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_excel('Data_Train.xlsx')
data1=pd.read_excel('Data_Test.xlsx')

In [3]:
df=pd.DataFrame(data)
df.head()

                                               STORY  SECTION
0  But the most painful was the huge reversal in ...      3.0
1  How formidable is the opposition alliance amon...      0.0
2  Most Asian currencies were trading lower today...      3.0
3  If you want to answer any question, click on ‘...      1.0
4  In global markets, gold prices edged up today ...      3.0

In [4]:
df1=pd.DataFrame(data1)
df1.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [8]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer()

In [9]:
X=cv.fit_transform(df['STORY'])
Y=df['SECTION']

In [10]:
print(X)
print(Y)

  (0, 5561)	2
  (0, 29476)	7
  (0, 19457)	1
  (0, 21335)	1
  (0, 31913)	1
  (0, 14354)	1
  (0, 24948)	1
  (0, 14815)	2
  (0, 11619)	2
  (0, 14885)	2
  (0, 30712)	1
  (0, 20704)	4
  (0, 2713)	1
  (0, 23010)	1
  (0, 26168)	1
  (0, 17346)	1
  (0, 10914)	1
  (0, 15706)	2
  (0, 18660)	2
  (0, 29470)	4
  (0, 32623)	1
  (0, 4047)	1
  (0, 29836)	1
  (0, 12121)	2
  (0, 13192)	1
  :	:
  (7627, 3338)	1
  (7627, 3363)	1
  (7627, 21578)	1
  (7627, 23713)	1
  (7627, 31583)	1
  (7627, 22547)	1
  (7627, 17997)	1
  (7627, 28571)	1
  (7627, 16929)	1
  (7627, 4942)	1
  (7627, 15024)	2
  (7627, 27871)	1
  (7627, 4575)	1
  (7627, 25106)	1
  (7627, 16307)	1
  (7627, 24570)	1
  (7627, 19855)	1
  (7627, 16090)	1
  (7627, 9222)	1
  (7627, 22653)	1
  (7627, 26317)	1
  (7627, 24929)	1
  (7627, 16533)	1
  (7627, 29563)	1
  (7627, 15025)	1
0       3.0
1       0.0
2       3.0
3       1.0
4       3.0
       ...
7623    0.0
7624    2.0
7625    1.0
7626    0.0
7627    2.0
Name: SECTION, Length: 7628, dtype: float64

In [11]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,Y,test_size=0.20)

In [12]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [13]:
y_test.tail(10)

1540    1.0
5851    1.0
2093    2.0
6935    1.0
4983    3.0
4362    2.0
5662    1.0
7360    0.0
529     0.0
1985    2.0
Name: SECTION, dtype: float64

In [14]:
y_pred=model.predict(X_test)

In [15]:
y_pred

array([2., 2., 1., ..., 0., 0., 2.])

In [16]:
from sklearn.metrics import confusion_matrix,classification_report
cm=confusion_matrix(y_test,y_pred)

In [17]:
cm

array([[345,   9,   1,   1],
       [  4, 533,   6,   8],
       [  9,   3, 355,   0],
       [  0,   3,   0, 249]], dtype=int64)

In [18]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.96      0.97      0.97       356
         1.0       0.97      0.97      0.97       551
         2.0       0.98      0.97      0.97       367
         3.0       0.97      0.99      0.98       252

    accuracy                           0.97      1526
   macro avg       0.97      0.97      0.97      1526
weighted avg       0.97      0.97      0.97      1526

In [25]:
X=cv.fit_transform(df1['STORY'])

In [26]:
print(x)

  (0, 298)	2
  (0, 20886)	3
  (0, 16891)	3
  (0, 8071)	3
  (0, 11271)	1
  (0, 8117)	1
  (0, 17606)	2
  (0, 1740)	4
  (0, 20739)	1
  (0, 12019)	2
  (0, 5746)	1
  (0, 11258)	2
  (0, 19070)	6
  (0, 20152)	2
  (0, 7145)	2
  (0, 19302)	8
  (0, 20847)	2
  (0, 12993)	4
  (0, 11212)	2
  (0, 12302)	1
  (0, 9633)	1
  (0, 20921)	1
  (0, 4750)	1
  (0, 18904)	1
  (0, 18902)	2
  :	:
  (2747, 3053)	1
  (2747, 9972)	1
  (2747, 17805)	1
  (2747, 12582)	1
  (2747, 12977)	4
  (2747, 9599)	1
  (2747, 6475)	1
  (2747, 18713)	1
  (2747, 4676)	1
  (2747, 5201)	1
  (2747, 2702)	1
  (2747, 6442)	1
  (2747, 4675)	1
  (2747, 8623)	1
  (2747, 3419)	1
  (2747, 13957)	1
  (2747, 19478)	1
  (2747, 4678)	1
  (2747, 19047)	1
  (2747, 7707)	1
  (2747, 16224)	2
  (2747, 8422)	1
  (2747, 16843)	1
  (2747, 12176)	1
  (2747, 8350)	1

In [29]:
df1.head()

                                               STORY
0  2019 will see gadgets like gaming smartphones ...
1  It has also unleashed a wave of changes in the...
2  It can be confusing to pick the right smartpho...
3  The mobile application is integrated with a da...
4  We have rounded up some of the gadgets that sh...

In [38]:
xy=cv.transform(df1['STORY'])

In [ ]:
pred=model.predict(cv.transform(df1['STORY'])