In [29]:
import pandas as pd
import numpy as np

In [30]:
data=pd.read_csv('MLR.csv')
data.head()

   Age  Salary  Hours per day Field of Work  Experience(in yrs)
0   28   75000              7      Software                 5.0
1   22   50000              6      Software                 3.0
2   25   45000              6      Software                 2.5
3   28   60000              9      Hardware                 4.5
4   18   20000              3      Software                 0.5

In [31]:
df=pd.DataFrame(data)
df.head()

   Age  Salary  Hours per day Field of Work  Experience(in yrs)
0   28   75000              7      Software                 5.0
1   22   50000              6      Software                 3.0
2   25   45000              6      Software                 2.5
3   28   60000              9      Hardware                 4.5
4   18   20000              3      Software                 0.5

In [32]:
from sklearn.preprocessing import LabelEncoder
Fow=LabelEncoder()
df['Fow']=Fow.fit_transform(df['Field of Work'])

In [33]:
df.drop(['Field of Work'],axis=1,inplace=True)

In [34]:
df.head()

   Age  Salary  Hours per day  Experience(in yrs)  Fow
0   28   75000              7                 5.0    1
1   22   50000              6                 3.0    1
2   25   45000              6                 2.5    1
3   28   60000              9                 4.5    0
4   18   20000              3                 0.5    1

In [62]:
X=df.drop(['Experience(in yrs)'],axis=1)
Y=df['Experience(in yrs)']
print(X,Y)

    Age  Salary  Hours per day  Fow
0    28   75000              7    1
1    22   50000              6    1
2    25   45000              6    1
3    28   60000              9    0
4    18   20000              3    1
5    24   55000              5    1
6    26   45000              7    0
7    28   90000             12    0
8    35   90000              6    1
9    19   20000              4    1
10   32   75000              7    1
11   33   75000              9    0
12   27   60000              6    1
13   36   90000              8    1 0     5.0
1     3.0
2     2.5
3     4.5
4     0.5
5     3.0
6     3.0
7     6.0
8     7.0
9     1.0
10    5.0
11    4.0
12    4.0
13    7.0
Name: Experience(in yrs), dtype: float64

In [63]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test= train_test_split(X, Y, test_size= 0.2, random_state=0)

In [64]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [65]:
y_pred=model.predict(x_test)
y_pred

array([5.62439969, 2.11562436, 0.32984461])

In [66]:
print(model.score(x_train,y_train))

0.9368230645353607

In [67]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)**0.5

0.94927153588564

In [72]:
model.predict([[22,50000,7,1]])

array([3.48794855])