In [1]:
import pandas as pd
import numpy as np

In [5]:
from sklearn.datasets import load_wine
data = load_wine()

In [9]:
dir(data)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [10]:
print(data.DESCR)

.. _wine_dataset:

Wine recognition dataset
------------------------

**Data Set Characteristics:**

    :Number of Instances: 178 (50 in each of three classes)
    :Number of Attributes: 13 numeric, predictive attributes and the class
    :Attribute Information:
 		- Alcohol
 		- Malic acid
 		- Ash
		- Alcalinity of ash
 		- Magnesium
		- Total phenols
 		- Flavanoids
 		- Nonflavanoid phenols
 		- Proanthocyanins
		- Color intensity
 		- Hue
 		- OD280/OD315 of diluted wines
 		- Proline

    - class:
            - class_0
            - class_1
            - class_2

    :Summary Statistics:

    ============================= ==== ===== ======= =====
                                   Min   Max   Mean     SD
    ============================= ==== ===== ======= =====
    Alcohol:                      11.0  14.8    13.0   0.8
    Malic Acid:                   0.74  5.80    2.34  1.12
    Ash:                          1.36  3.23    2.36  0.27
    Alcalinity of Ash:            10.6  30.0    19.5   3.3
    Magnesium:                    70.0 162.0    99.7  14.3
    Total Phenols:                0.98  3.88    2.29  0.63
    Flavanoids:                   0.34  5.08    2.03  1.00
    Nonflavanoid Phenols:         0.13  0.66    0.36  0.12
    Proanthocyanins:              0.41  3.58    1.59  0.57
    Colour Intensity:              1.3  13.0     5.1   2.3
    Hue:                          0.48  1.71    0.96  0.23
    OD280/OD315 of diluted wines: 1.27  4.00    2.61  0.71
    Proline:                       278  1680     746   315
    ============================= ==== ===== ======= =====

    :Missing Attribute Values: None
    :Class Distribution: class_0 (59), class_1 (71), class_2 (48)
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

This is a copy of UCI ML Wine recognition datasets.
https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

The data is the results of a chemical analysis of wines grown in the same
region in Italy by three different cultivators. There are thirteen different
measurements taken for different constituents found in the three types of
wine.

Original Owners:

Forina, M. et al, PARVUS -
An Extendible Package for Data Exploration, Classification and Correlation.
Institute of Pharmaceutical and Food Analysis and Technologies,
Via Brigata Salerno, 16147 Genoa, Italy.

Citation:

Lichman, M. (2013). UCI Machine Learning Repository
[https://archive.ics.uci.edu/ml]. Irvine, CA: University of California,
School of Information and Computer Science.

.. topic:: References

  (1) S. Aeberhard, D. Coomans and O. de Vel,
  Comparison of Classifiers in High Dimensional Settings,
  Tech. Rep. no. 92-02, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Technometrics).

  The data was used with many others for comparing various
  classifiers. The classes are separable, though only RDA
  has achieved 100% correct classification.
  (RDA : 100%, QDA 99.4%, LDA 98.9%, 1NN 96.1% (z-transformed data))
  (All results using the leave-one-out technique)

  (2) S. Aeberhard, D. Coomans and O. de Vel,
  "THE CLASSIFICATION PERFORMANCE OF RDA"
  Tech. Rep. no. 92-01, (1992), Dept. of Computer Science and Dept. of
  Mathematics and Statistics, James Cook University of North Queensland.
  (Also submitted to Journal of Chemometrics).

In [23]:
X=data.data
Y=data.target
print(data.target)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2]

In [15]:
col=data.feature_names
col

['alcohol',
 'malic_acid',
 'ash',
 'alcalinity_of_ash',
 'magnesium',
 'total_phenols',
 'flavanoids',
 'nonflavanoid_phenols',
 'proanthocyanins',
 'color_intensity',
 'hue',
 'od280/od315_of_diluted_wines',
 'proline']

In [41]:
df=pd.DataFrame(X,columns=col)
df1=pd.DataFrame(Y,columns=['Target'])

In [42]:
df=pd.concat([df,df1],axis=1)
df.head()

   alcohol  malic_acid   ash  ...  od280/od315_of_diluted_wines  proline  Target
0    14.23        1.71  2.43  ...                          3.92   1065.0       0
1    13.20        1.78  2.14  ...                          3.40   1050.0       0
2    13.16        2.36  2.67  ...                          3.17   1185.0       0
3    14.37        1.95  2.50  ...                          3.45   1480.0       0
4    13.24        2.59  2.87  ...                          2.93    735.0       0

[5 rows x 14 columns]

In [29]:
df.describe()

          alcohol  malic_acid         ash  ...      proline      Target      Target
count  178.000000  178.000000  178.000000  ...   178.000000  178.000000  178.000000
mean    13.000618    2.336348    2.366517  ...   746.893258    0.938202    0.938202
std      0.811827    1.117146    0.274344  ...   314.907474    0.775035    0.775035
min     11.030000    0.740000    1.360000  ...   278.000000    0.000000    0.000000
25%     12.362500    1.602500    2.210000  ...   500.500000    0.000000    0.000000
50%     13.050000    1.865000    2.360000  ...   673.500000    1.000000    1.000000
75%     13.677500    3.082500    2.557500  ...   985.000000    2.000000    2.000000
max     14.830000    5.800000    3.230000  ...  1680.000000    2.000000    2.000000

[8 rows x 15 columns]

In [43]:
x=df.drop(['Target'],axis=1)
y=df['Target']

In [40]:
#df.drop(['Target'],axis=1,inplace=True)
df.head()

   alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0    14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1    13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2    13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3    14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4    13.24        2.59  2.87  ...  1.04                          2.93    735.0

[5 rows x 13 columns]

In [44]:
print(x)
print(y)

     alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
0      14.23        1.71  2.43  ...  1.04                          3.92   1065.0
1      13.20        1.78  2.14  ...  1.05                          3.40   1050.0
2      13.16        2.36  2.67  ...  1.03                          3.17   1185.0
3      14.37        1.95  2.50  ...  0.86                          3.45   1480.0
4      13.24        2.59  2.87  ...  1.04                          2.93    735.0
..       ...         ...   ...  ...   ...                           ...      ...
173    13.71        5.65  2.45  ...  0.64                          1.74    740.0
174    13.40        3.91  2.48  ...  0.70                          1.56    750.0
175    13.27        4.28  2.26  ...  0.59                          1.56    835.0
176    13.17        2.59  2.37  ...  0.60                          1.62    840.0
177    14.13        4.10  2.74  ...  0.61                          1.60    560.0

[178 rows x 13 columns]
0      0
1      0
2      0
3      0
4      0
      ..
173    2
174    2
175    2
176    2
177    2
Name: Target, Length: 178, dtype: int64

In [45]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [46]:
from sklearn.naive_bayes import GaussianNB
model=GaussianNB()

In [47]:
model.fit(X_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [49]:
model.score(X_test,y_test)

1.0

In [51]:
y_pred = model.predict(X_test)
y_pred

array([2, 1, 0, 1, 0, 2, 1, 0, 2, 1, 0, 0, 1, 0, 1, 1, 2, 0, 1, 0, 0, 1,
       2, 1, 0, 2, 0, 0, 0, 2, 1, 2, 2, 0, 1, 1])

In [52]:
model.predict_proba(X_test)

array([[3.66182001e-16, 4.88091922e-06, 9.99995119e-01],
       [3.62246168e-08, 9.99999964e-01, 2.85570643e-16],
       [9.99996600e-01, 3.40044243e-06, 9.74918467e-31],
       [1.11679601e-10, 1.00000000e+00, 1.86016320e-23],
       [1.00000000e+00, 1.70424528e-13, 2.83297302e-35],
       [2.21000077e-22, 9.56882782e-07, 9.99999043e-01],
       [3.24291976e-12, 1.00000000e+00, 1.71347326e-13],
       [1.00000000e+00, 6.54225218e-19, 6.31052333e-59],
       [7.92804304e-22, 1.04335582e-08, 9.99999990e-01],
       [2.77146315e-12, 9.99995096e-01, 4.90417689e-06],
       [9.99999997e-01, 2.69776409e-09, 6.51939045e-26],
       [9.75490221e-01, 2.45097794e-02, 1.05048861e-21],
       [8.16331100e-09, 9.99999992e-01, 4.48466663e-17],
       [9.99999999e-01, 1.05739290e-09, 4.49483621e-45],
       [3.66904265e-07, 9.99999633e-01, 3.44432665e-17],
       [4.16352536e-11, 1.00000000e+00, 2.97995745e-14],
       [3.41840307e-14, 2.56469845e-05, 9.99974353e-01],
       [9.99993914e-01, 6.08593255e-06, 7.94233596e-32],
       [5.43072812e-15, 1.00000000e+00, 1.58634279e-12],
       [1.00000000e+00, 5.74229209e-16, 8.05117641e-42],
       [1.00000000e+00, 7.34322952e-11, 1.19155401e-40],
       [2.27961502e-06, 9.99997720e-01, 3.10906965e-24],
       [6.16405192e-14, 5.56298979e-02, 9.44370102e-01],
       [4.14705946e-01, 5.85294054e-01, 4.29037720e-39],
       [9.99999453e-01, 5.46602847e-07, 3.14330224e-37],
       [4.67412203e-20, 4.03048187e-05, 9.99959695e-01],
       [9.99999993e-01, 6.99085655e-09, 2.77610183e-39],
       [9.99999666e-01, 3.34478934e-07, 1.31894053e-28],
       [1.00000000e+00, 6.25381851e-13, 1.41366816e-34],
       [3.33971798e-25, 5.75580212e-11, 1.00000000e+00],
       [2.71673299e-06, 9.99997283e-01, 3.53842296e-25],
       [1.12830355e-16, 2.85175139e-17, 1.00000000e+00],
       [3.46342440e-21, 5.47646711e-16, 1.00000000e+00],
       [1.00000000e+00, 1.01755363e-16, 8.36531833e-46],
       [2.11626337e-05, 9.99978837e-01, 2.68533007e-25],
       [3.83219499e-07, 9.99999617e-01, 1.59490208e-23]])

In [53]:
X_test[:10]

     alcohol  malic_acid   ash  ...   hue  od280/od315_of_diluted_wines  proline
161    13.69        3.26  2.54  ...  0.96                          1.82    680.0
117    12.42        1.61  2.19  ...  1.06                          2.96    345.0
19     13.64        3.10  2.56  ...  0.96                          3.36    845.0
69     12.21        1.19  1.75  ...  1.28                          3.07    718.0
53     13.77        1.90  2.68  ...  1.13                          2.93   1375.0
138    13.49        3.59  2.19  ...  0.81                          1.82    580.0
112    11.76        2.68  2.92  ...  1.23                          2.50    607.0
14     14.38        1.87  2.38  ...  1.20                          3.00   1547.0
160    12.36        3.83  2.38  ...  0.56                          1.58    520.0
107    12.72        1.75  2.28  ...  0.88                          2.42    488.0

[10 rows x 13 columns]

In [54]:
y_test[:10]

161    2
117    1
19     0
69     1
53     0
138    2
112    1
14     0
160    2
107    1
Name: Target, dtype: int64